fastapi==0.124.2
scalar_fastapi==1.5.0
uvicorn==0.38.0
python-multipart==0.0.20
facenet-pytorch==2.6.0
numpy==1.26.4
--index-url https://download.pytorch.org/whl/cu130
torch
torchvision
onnxruntime
mediapipe==0.10.21